*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    font-family: 'Open Sans', sans-serif;        
}
.credits{
    display: none;
}
.icono{
    animation: moverIzquierda 1s ease-in;
    width: 100%;
    height: 20px;    
}
.wrapper{
    height: 100vh;
}
header{
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 80%;
    padding: 48px;    
    width: 100%;    
}
nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;    
}

nav a{    
    color: #333;
    text-decoration: none;
    /* display: inline-block;
    animation: moverIzquierda 1s ease-in; */
    z-index: 100;
}

nav a span{
    background-color: gray;
    width: 50px;
    height: 8px;
    display: block;
    margin-top: 6px;
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: auto;          
    justify-content: space-around;
    margin-top: 10px;;
}
img{
    /* border: 1px solid black; */
    display: block;
    height: 550px;
    object-fit: cover;
    width: auto;    
    animation: arriba 1s ease-in;
}
.textos{
    width: 50%;
    color: #333;
}
.textos h1{
    font-size: 80px;
    animation: moverDerecha 1s ease-in;
}
.textos h2{
    font-size: 30px;
    animation: moverIzquierda 1s ease-in;
    color: rgb(83, 83, 83);
}
.textos a{
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;
    background-color: rgba(255, 255, 255, 0.637);
}
.wave{
    /* height: 100px; */
    height: 10%;
    width: 100%;
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}
.enlaces{
    position: fixed;
    display: flex;
    top: 0;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    left: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;

    font-size: 40px;

    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.enlaces a{
    color: #fff;
}
.uno{
    -webkit-clip-path: circle(0% at 0.0);
    clip-path: circle(0% at 0 0);
}

.dos{
    -webkit-clip-path: circle(150% at 0.0);
    clip-path: circle(150% at 0 0);
}

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@media screen and (max-width:1200px){
    img{
        height: 350px;
    }
    .textos h1{
        font-size: 60px;
    }
    .textos h2{
        font-size: 25px;
    }
}

@media screen and (max-width:800px){
    img{
        height: 300px;
    }
    .textos h1{
        font-size: 60px;
    }
    .textos h2{
        font-size: 20px;
    }
}

@media screen and (max-width:700px){
    img{
        height: 200px;
    }
    .textos h1{
        font-size: 40px;
    }
    .textos h2{
        font-size: 20px;
    }
}

@media screen and (max-width:450px){
    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .textos{
        width: 100%;
        text-align: center;
    }
    .textos h1{
        font-size: 60px;
    }
    .textos h2{
        font-size: 20px;
    }
}

@media screen and (max-width:340px){
    img{
        width: 160px;
    }
    .textos a{
        width: 120px;        
    }
    .textos h1{
        font-size: 35px;
    }
    .textos h2{
        font-size: 15px;
    }
}

/*PORTFOLIO*/
.subtitle{
    text-align: center;
}
.card {
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: rgb(219, 219, 250);
    border-radius: 6px;
    overflow: hidden;
    padding: 10px;
  }
  .card img{
      margin-bottom: 10px;
      height: 350px;
  }
  
  .price {
    color: grey;
    font-size: 20px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }